@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
--------------------------------
Segundo W3C, os tamanhos, em pixel, das telas de dispositivos são do seguinte padrão em 2020:

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px */

/*
@media screen and (max-width: 600ppx) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    
}
*/

/* Devido ao Mobile first (pensar nas telas de celulares primeiro), as medias screen até o tamanho máximo do celular podem ser ignoradas, pois essas medias já foram configuradas diretamente no media all, no arquivo Style.CSS, */


@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../../imagens/back-print.jpg);
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {/*TABLET*/
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/*PC*/
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
    
}

@media screen and (min-width: 1200px) {/*Grandes Telas*/
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}

}