@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: aliceblue;
}

header {
    background-color: rgba(0, 128, 0, 0.411);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#menuzinho {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer /* faz a flechinha do mouse virar uma mãozinha */
}

#menuzinho:hover {
    background-color: white;
    color: rgb(5, 145, 17);
}

menu {
    display: none;
}

ul {
    list-style-type: none; /* tira a numeração ou pontos que listam cada item da lista */
}

menu > ul > li > a {
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: green;
    text-align: center;
    border-top: 2px solid rgb(212, 202, 202);
}

menu > ul > li a:hover {
    background-color: lightgreen;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

