* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
}

header {
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 20px;
    text-align: center;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

section.flexivel {
    background-color: rgb(173, 168, 168);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

article.media-texto {
    display: flex;
    flex-flow: row wrap; /* faz com que o texto fique antes da mídia */
    justify-content: space-between;
}

article.texto-media {
    display: flex;
    flex-flow: row wrap-reverse; /* faz com que a mídia fique antes do texto */
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;

    border: 1px dashed blue; /* apenas para visualização do comportamento do texto */
}

div.media > img {
    display: block; /* necessário para centralizar a imagem */
    width: 300px;
    margin: auto;
    padding: 10px;
}

article > div.media {
    flex: 1 0 500px;
    border: 1px dashed red; /* apenas para visualização do comportamento da mídia */
}

div.media iframe {
    margin: auto; /* centraliza o iframe dentro da div mídia */
    display: block; /* necessário para centralizar o iframe */
    width: 90%;
}
